body{
    display: flex;
    justify-content: center;
    text-align: center;
}

header{
    font-size: 75px;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

table{
    text-align: center;
    width: 100%;
}

table th{
   height: 40px;
}

.comp1{
    background-color: rgb(145, 145, 221);
    text-align: center;
    padding: 50px;
    margin: 10px;
    border-radius: 20px;
    font-size: 20px;
}